<!--The content below is only a placeholder and can be replaced.-->

<section class="content">
  <nav class="content-nav">
    <h1>Free to play</h1>
    <a href="#trailer" mat-button>Trailer</a>
    <a href="#features" mat-button>Features</a>
    <a href="#specs" mat-button>Specifications</a>
  </nav>
  <div class="content-wrapper">
    <header class="content-header" id="trailer">
      <div class="content-header-video" *ngIf="showVideo">
        <video autoplay loop>
          <source src="https://bnea.akamaized.net/movies/CorpWeb/dbfightz1_h264_custom_sl1.mp4">
        </video>
      </div>
      <div class="content-header-content">
        <h1 class="mat-headline">True Power Knows No Limits!</h1>
        <p class="mat-body-1">
          After the success of the Xenoverse series, it's time to introduce a new classic 2D DRAGON BALL 
          fighting game for this generation's consoles.
        </p>
      </div>
    </header>
  </div>
</section>